/* ShareTechMono */
@font-face {
  font-family: "ShareTechMono";
  src: url("../fonts/ShareTechMono-Regular.ttf");
  font-display: swap;
}

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}

/* Oswald */
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
  font-display: swap;
}
